<% for(var i=0;i<variable.length;i++){ %>

    <tr>
        <td><%= variable[i].name %></td>
        <td><%= variable[i].email %></td>
        <td>
            <a class="delete-button" href="/api/delete/<%= variable[i]._id %>">Delete</a>
            <a class="update-button" href="/api/update_user/<%= variable[i]._id %>">Update</a>
        </td>
    </tr>

<% } %>

 
<main class="">
    <div class="container ">
     <div class="m-5 p-5 d-flex justify-content-center border border-secondary rounded">
         <form class="row g-3">
             <div class="col-md-12">
               <label for="inputEmail4" class="form-label">Email</label>
               <input type="email" class="form-control" id="inputEmail4">
             </div>
             <div class="col-md-12">
             <div class="col-12">
               <label for="inputPassword" class="form-label">Password</label>
               <input type="text" class="form-control" id="inputPassword" placeholder="*******">
             </div>
               <div class="form-check m-3 justify-content-center d-flex p-0">
                 <label class="form-check-label pt-3" for="gridCheck">
                     <p><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Forgot Password ?</a></p>
                 </label>
               </div>
             </div>
             <div class="col-12">
               <button type="submit" class="btn btn-light w-100 m-1"><a href="">Sign in</a></button>
               <button type="submit" class="btn btn-warning w-100 m-1"><a href="/signup">Sign Up</a></button>
             </div>
           </form>
   </main>


   